<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main style="width: 35%;">

        <form action="/login" method="POST">
            <div class="form-control">
                <label>E-mail</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="form-control">
                <label>Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">
                Login
            </button>
        </form>
    </main>
</body>

</html>